{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<h1>Informationen zu diesem Service</h1>

<p>Aktuelle Version: 0.19</p>

{% if user.is_staff %}
<h2>Debugging Informationen</h2>
<p>Database: {{ database }}</p> 
{% endif %}

{% endblock %}
