{% load static %}
{% load bootstrap4 %}
{% load activeurl %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Load CSS and JavaScript for bootstrap #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="stylesheet" href="{% static "tasksapp/default.css" %}" type="text/css" media="screen" />

    {% block extra_head %}{% endblock %}
    <title>{% block page_title %}{% block module_title %}Task-Lane{% endblock %}{% block item_title %}{% endblock %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="{% url 'tasks-index' %}">Task-Lane</a>
       	<div class="form-inline d-block d-lg-none">
	    	{% url 'task-add' as add_url %}
	    	{% bootstrap_button "Add" button_type="link" button_class="btn-success" href=add_url %}
       	</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% activeurl %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'all-task-list' %}">All</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'my-task-list' %}?archived=3&status=&scope=">Mine</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'pomodoro:index' %}">Pomodoro-Timer</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'milestone-list' %}?happened=3">Milestone</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'scope-list' %}">Scope</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'project-list' %}">Projekte</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'context-list' %}">Kontexte</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'goal-list' %}">Ziele</a></li>
            </ul>
            {% endactiveurl %}
            <ul class="navbar-nav mr-md-0">
                {% if user.is_authenticated %}
                	<div class="form-inline">
					    {% url 'task-add' as add_url %}
					    {% bootstrap_button "Add" button_type="link" button_class="btn-success" href=add_url %}
                	</div>
                	<li class="nav-item dropdown">
	                 	<a class="nav-link dropdown-toggle"
	                 			href="#" id="userNav"
	                 			role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                 		{{ user.username }}
	                 	</a>
	                 	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userNav">
			                {% if user.is_staff %}
			                	<a class="dropdown-item" href="/admin/">Admin-Site</a>
				            {% endif %}
	                 		<a class="dropdown-item" href="{% url 'usersettings-edit' %}">Einstellungen</a>
	                 		<a class="dropdown-item" href="{% url 'password_change' %}">Passwort ändern</a>
	                 		<a class="dropdown-item" href="{% url 'logout' %}?next={% firstof request.path '/' %}">Logout</a>
	                 	</div>
                	</li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={% firstof request.path '/' %}">Login</a></li>
                {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        {% block content %}{% endblock %}
    </div>

</body>
</html>
