{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
<link rel="stylesheet" href="{% static 'pomodoro/default.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'pomodoro/countdown.js' %}"></script>
<h1>{% if pomoTask %}{{ pomoTask }}{% else %}Ein Pomodoro{% endif %}</h1>

<div>Pomodoro <span id="pomoStatus">ist bereit</span>.</div>
<a id="pomoAction" class="pomoController btn btn-primary btn-lg" href="#"><i class="fas fa-play"></i></a>
<a id="pomoPause" class="pomoController btn btn-secondary btn-lg disabled" href="#"><i class="fas fa-pause"></i></a>
<a id="pomoResume" class="pomoController btn btn-secondary btn-lg disabled" href="#">
	<i class="fas fa-eject fa-rotate-90"></i>
</a>
{% if pomoTask %}
<a id="pomoStop" class="pomoController btn btn-secondary btn-lg" href="#"><i class="fas fa-check-square"></i></a>
{% endif %}
<a		id="pomoReload"
		class="pomoController btn btn-secondary btn-lg disabled"
		href="{% url 'pomodoro:index' %}{% if pomoTask %}?pomoTask={{ pomoTask.pk }}{% endif %}">
	<i class="fas fa-redo"></i>
</a>

<div><span id="time"></span></div>
<div id="pomoResult"></div>

<script type="text/javascript">
window.onload = function () {
    var timer = new CountDownTimer({{ pomoMinutes }} * 60),
    timeObj = CountDownTimer.parse({{ pomoMinutes }} * 60);

    actionButton = document.querySelector('#pomoAction');
    pauseButton = document.querySelector('#pomoPause');

    format(timeObj.minutes, timeObj.seconds);

    timer.onStart(switchButtonsToRun);
    timer.onStart(displayRunState);

    timer.onHalt(switchButtonsToPause);
    timer.onHalt(displayPauseState);

    timer.onResume(switchButtonsToRun);
    timer.onResume(displayRunState);

    timer.onTick(format);

    timer.onStop(switchButtonsToFinish);
    timer.onStop(displayFinishState);
    {% if pomoTask %}timer.onStop(logFinishedPomodoro);{% endif %}
    timer.onStop(notifyHook);
    timer.onStop(unbindWindowCloseWarning);

    document.querySelector('#pomoAction').addEventListener('click', function () {
        timer.start();
        this.blur();
    });

    document.querySelector('#pomoPause').addEventListener('click', function () {
        timer.halt();
        this.blur();
    });

    document.querySelector('#pomoResume').addEventListener('click', function () {
        timer.start();
        this.blur();
    });

    document.querySelector('#pomoStop').addEventListener('click', function () {
		logFinishedPomodoro();
        document.querySelector('#pomoStop').classList.add("disabled");
		window.location.href = "{% url 'my-task-list' %}?archived=3&status=&scope=";
    });

    $(window).on('beforeunload', function(event) {
		return '>>>>>Before You Go<<<<<<<< \n Your custom message go here';
	});

    function format(minutes, seconds) {
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        timeText = minutes + ':' + seconds;
        document.querySelector('#time').textContent = timeText;
        if (timer.running) {
	        document.title = timeText;
        }
    }
    {% if pomoTask %}
    function logFinishedPomodoro() {
        $.get( "{% url 'task-log-work' pomoTask.pk %}", function( data ) {
            $( "#pomoResult" ).html( data );
        });
    }{% endif %}

    function displayRunState() {
        document.querySelector('#pomoStatus').textContent = 'läuft';
    }

    function displayPauseState() {
        document.querySelector('#pomoStatus').textContent = 'pausiert';
        document.title = 'Pause';
    }

    function displayFinishState() {
        document.querySelector('#pomoStatus').textContent = 'ist beendet';
        document.title = 'Ende';
    }

    function switchButtonsToRun() {
        // before: ! - -/! ; -/;
        // after:  - ! -   ; -
        disablePriButton(document.querySelector('#pomoAction'));
        enablePriButton(document.querySelector('#pomoPause'));
        disablePriButton(document.querySelector('#pomoResume'));
        document.querySelector('#pomoReload').classList.add("disabled");
    }

    function switchButtonsToPause() {
        // before: - ! - ; -
        // after:  - - ! ; ;
        disablePriButton(document.querySelector('#pomoPause'));
        enablePriButton(document.querySelector('#pomoResume'));
        document.querySelector('#pomoReload').classList.remove("disabled");
    }

    function switchButtonsToFinish() {
        // before: - ! - ; -
        // after:  - - - - !
        disablePriButton(document.querySelector('#pomoPause'));
        document.querySelector('#pomoStop').classList.add("disabled");
        enablePriButton(document.querySelector('#pomoReload'));
    }

    function unbindWindowCloseWarning() {
    	$(window).off('beforeunload');
    }

    function notifyHook() {
    	// Let's check if the browser supports notifications
        if (!"Notification" in window) {
        	console.log("This browser does not support notifications.");
   			alert( "Pomodoro abgeschlossen." );
        }

        // Let's check if the user is okay to get some notification
        else if (Notification.permission === "granted") {
        	doNotify();
        }

        // Otherwise, we need to ask the user for permission
        // Note, Chrome does not implement the permission static property
        // So we have to check for NOT 'denied' instead of 'default'
        else if (Notification.permission !== 'denied') {
        	Notification.requestPermission(function (permission) {

	            // Whatever the user answers, we make sure Chrome stores the information
	            if(!('permission' in Notification)) {
	            	Notification.permission = permission;
	            }
	
	            // If the user is okay, let's create a notification
	            if (permission === "granted") {
	            	doNotify();
	            }
	    	});
        }
    }

    function doNotify() {
    	var img = '/to-do-notifications/img/icon-128.png';
		var text = 'HEY! Your pomodoro is finished.';
    	var notification = new Notification('To do list', { body: text, icon: img });
		window.navigator.vibrate(500);
    }

    function enablePriButton(button) {
        button.classList.remove("disabled");
        button.classList.replace("btn-secondary", "btn-primary");
    }

    function disablePriButton(button) {
        button.classList.add("disabled");
        button.classList.replace("btn-primary", "btn-secondary");
    }
};
</script>

{% endblock content %}
