{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
{% endblock %}

{% block content %}
<h1>Bestehende Aufgabe als Abhängigkeit auswählen</h1>
<p>für: {{ dependant }}</p>
{% if sticky_scope %}
<p>
	Sticky Scope: {{ sticky_scope }}
	<br />
	<a href="{% url 'sticky-scope-unset-all' %}">entfernen</a>
</p>
{% endif %}

<div id="top-button-bar">
	<div class="row">
		<div id="filterArea" class="col">
			<div class="card card-body">
			    <form action="" method="get">
			    	{% bootstrap_form filter.form layout='horizontal' size='small' %}
			    	{% bootstrap_button "Filtern" button_type="submit" button_class="btn-primary btn-sm" %}
			    </form>
			</div>
		</div>
	</div>
</div>

{% if object_list %}
<div class="row">
	<div class="col-10">
		<div class="row">
    		<div class="col-1 d-none d-lg-block">Priorität</div>
    		<div class="col-1 d-block d-lg-none">Prio</div>
			<div class="col-7">Aufgabe</div>
			<div class="col-2">Status</div>
    		<div class="col-2 d-none d-md-block">Restaufwand<br />Fälligkeit</div>
    		<div class="col-2 d-block d-md-none">Rest-<br />aufwand</div>
    	</div>
    </div>
    <div class="col-2">Action</div>
</div>
<hr />

{% for task in object_list %}
<div class="row">
	<div class="col-10">
		<div class="row">
			<div class="col-1">{{ task.priority_sum }}</div>
			<div class="col-7"><a href="{% url 'task-edit' task.pk %}">{{ task }}</a></div>
			<div class="col-2">
				{% if task.blocked %}
					<i class="fas fa-lock fa-2x"></i>
				{% else %}
					{{ task.status }}
				{% endif %}
			</div>
			<div class="col-2">{{ task.remainingEffort }}</div>
			<div class="col-9 offset-1">
				{% for category in task.categories.all %}
					{% if not forloop.first %}<span>, </span>{% endif %}
					<span>{{ category }}</span>
				{% endfor %}
			</div>
			{% if task.due_date is not None %}
			<div class="col-2">
				{{ task.due_date|date:"SHORT_DATE_FORMAT" }}
			</div>
			{% endif %}
		</div>
	</div>
	<div class="col-2">
		<a class="btn btn-secondary" href="{% url 'task-add-dependency' dependant.pk task.pk %}">
			<i class="fas fa-plus-square"></i>
		</a>
	</div>
</div>
<hr />
{% endfor %}
{% else %}
    <p>No task is available.</p>
{% endif %}
{%endblock content %}
