{% extends "tasksapp/milestone/layout.html" %}
{% load bootstrap4 %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
{{ form.media }}
{% endblock %}

{% block item_title %}
{% if milestone.project %}
{{ milestone.project }}
{% endif %}
{{ milestone }}
{% endblock %}

{% block content %}
<form method="post" class="form">
    {% csrf_token %}
    <div class="row">
    	<div class="col-auto">
	        {% url 'milestone-list' as back_url %}
            {% bootstrap_button '<i class="far fa-caret-square-left fa-2x"></i>' button_type="link" button_class="btn-secondary btn-block" href=back_url %}
    	</div>
    	<div class="col-8 col-md-9 col-xl-10">
		    {% bootstrap_field form.name show_label=False size='large' %}
    	</div>
    	<div class="col-auto">
            {% bootstrap_button '<i class="fas fa-check-square fa-2x"></i>' button_type="submit" button_class="btn-primary btn-block" %}
    	</div>
    </div>
    <div class="row">
    	<div class="col-12 col-lg-9">
    		{% bootstrap_field form.description %}
    	</div>
    	<div class="col-12 col-lg-3">
    		{% bootstrap_field form.project %}
    		{% bootstrap_label "Date and Time passed" label_for="datetime_to_pass" %}
    		{% bootstrap_field form.datetime_to_pass show_label=False %}
    	</div>
    </div>
    <div class="row">
    	<div class="col-12">
    		<h4>enthaltene Tasks</h4>
    		
{% for task in task_list %}
<div class="row">
	<div class="col-10">
		<div class="row">
			<div class="col-1">{{ task.priority_sum }}</div>
			<div class="col-7"><a href="{% url 'task-edit' task.pk %}">{{ task }}</a></div>
			<div class="col-2">{{ task.status }}</div>
			<div class="col-2">{{ task.remainingEffort }}</div>
			<div class="col-9 offset-1">
				{% for category in task.categories.all %}
					{% if not forloop.first %}<span>, </span>{% endif %}
					<span>{{ category }}</span>
				{% endfor %}
			</div>
			{% if task.due_date is not None %}
			<div class="col-2">
				{{ task.due_date|date:"SHORT_DATE_FORMAT" }}
			</div>
			{% endif %}
		</div>
	</div>
	<div class="col-2">
		<a class="btn btn-secondary" href="{% url 'pomodoro:index' %}?pomoTask={{ task.pk }}">
			<i class="fas fa-play"></i>
		</a>
		<a class="btn btn-secondary" href="{% url 'task-done' task.pk %}?next={% url 'milestone-finish' milestone.pk %}">
			<i class="fas fa-check-square"></i>
		</a>
		<a class="btn btn-secondary" href="#">
			<i class="fas fa-puzzle-piece"></i>
		</a>
	</div>
</div>
<hr />
{% endfor %}
    	</div>
    </div>
</form>
{% endblock content %}
