{% extends "tasksapp/milestone/layout.html" %}
{% load bootstrap4 %}
{% load static %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
{% endblock %}

{% block item_title %}
{% if milestone.project %}
{{ milestone.project }}
{% endif %}
{{ milestone }}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-11"><h1>{% if object.project %}{{ object.project }} - {% endif %}{{ object }}</h1></div>
	<div class="col-1">
		{% url 'milestone-list' as back_url %}
		{% bootstrap_button '<i class="far fa-caret-square-left fa-2x"></i>' button_type="link" button_class="btn-secondary btn-block" href=back_url %}
	</div>
</div>
<div class="row">
	<div class="col-12">
		<h4>enthaltene Tasks</h4>

		<div class="row">
			<div class="col-10">
				<div class="row">
					<div class="col-1">Prio</div>
					<div class="col-7">Aufgabe</div>
					<div class="col-2">Status</div>
					<div class="col-2">Restaufwand</div>
					<div class="col-9 offset-1">Kategorien</div>
					<div class="col-2">Fälligkeit</div>
				</div>
			</div>
			<div class="col-2">Action</div>
		</div>

		{% for task in task_list %}
		<div class="row">
			<div class="col-10">
				<div class="row">
					<div class="col-1">{{ task.priority_sum }}</div>
					<div class="col-7"><a href="{% url 'task-edit' task.pk %}">{{ task }}</a></div>
					<div class="col-2">{{ task.status }}</div>
					<div class="col-2">{{ task.remainingEffort }}</div>
					<div class="col-9 offset-1">
						{% for category in task.categories.all %}
							{% if not forloop.first %}<span>, </span>{% endif %}
							<span>{{ category }}</span>
						{% endfor %}
					</div>
					{% if task.due_date is not None %}
					<div class="col-2">
						{{ task.due_date|date:"SHORT_DATE_FORMAT" }}
					</div>
					{% endif %}
				</div>
			</div>
			<div class="col-2">
				<a class="btn btn-secondary" href="{% url 'milestone-add-task' object.pk task.pk %}">
					<i class="fas fa-plus-square"></i>
				</a>
			</div>
		</div>
		<hr />
		{% endfor %}
	</div>
</div>
{% endblock content %}
