{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<h1>Confirm Delete {{ context }}</h1>

<form method="post" class="form">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ context }}"?</p>
    {% buttons %}
        {% url 'context-list' as back_url %}
        {% bootstrap_button "Back" button_type="link" button_class="btn-light" href=back_url %}
        {% bootstrap_button "Delete" button_type="submit" button_class="btn-danger" %}
    {% endbuttons %}
</form>
{% endblock content %}
