{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1>Kontext-Liste</h1>

{% url 'context-add' as add_url %}
{% bootstrap_button "Add" button_type="link" button_class="btn-success" href=add_url %}

{% if context_list %}
    <ul>
    {% for context in context_list %}
        <li><a href="{% url 'context-edit' context.pk %}">{{ context }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No context available.</p>
{% endif %}
{%endblock content %}
