{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
{% endblock %}

{% block content %}
<h1>Ziele-Liste</h1>
{% if sticky_scope %}
<p>
	Sticky Scope: {{ sticky_scope }}
	<br />
	<a href="{% url 'sticky-scope-unset-all' %}?next=/tasks/project/">entfernen</a>
</p>
{% endif %}

<div id="top-button-bar">
	<div class="row">
		<div class="col">
			{% url 'goal-add' as add_url %}
			{% bootstrap_button "Add" button_type="link" button_class="btn-success" href=add_url %}
		</div>
	</div>
</div>

{% if goal_list %}

<div class="row">
	<div class="col-10">
		<div class="row">
			<div class="col-9">Goal</div>
			<div class="col-3">Termin</div>
    	</div>
    </div>
    <div class="col-2">Aktion</div>
</div>
<hr />

{% for goal in goal_list %}
<div class="row">
	<div class="col-10">
		<div class="row">
			<div class="col-9"><a href="{% url 'goal-edit' goal.pk %}">{{ goal }}</a></div>
			<div class="col-3">{{ goal.timebased }}</div>
    	</div>
    </div>
    <div class="col-2">
		<a class="btn btn-secondary" href="{% url 'goal-edit' goal.pk %}">
			<i class="fas fa-pencil-alt"></i>
		</a>
    </div>
</div>
<hr />
{% endfor %}
{% else %}
    <p>No goal available.</p>
{% endif %}
{%endblock content %}
