{% extends "tasksapp/milestone/layout.html" %}
{% load bootstrap4 %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block item_title %}
{% if milestone.project %}
{{ milestone.project }}
{% endif %}
{{ milestone }}
{% endblock %}

{% block content %}
<h1>{{ milestone }}</h1>

<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="row">
        {% url 'milestone-list' as back_url %}
        <div class="col-sm">
            {% bootstrap_button "Back" button_type="link" button_class="btn-light" href=back_url %}
            {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
        </div>
        <div class="col-sm">
            {% bootstrap_button "Delete" button_type="link" button_class="btn-danger" href="delete" %}
        </div>
    </div>
</form>
{% endblock content %}
