{% extends "tasksapp/milestone/layout.html" %}
{% load bootstrap4 %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
{% endblock %}

{% block content %}
<h1>Meilenstein-Liste</h1>

<div id="top-button-bar">
	<div class="row">
		<div class="col-3">
			{% url 'milestone-add' as add_url %}
		    {% bootstrap_button "Add" button_type="link" button_class="btn-success" href=add_url %}
		    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#filterArea">
		    	Show Filter
		    </button>
		</div>
		<div id="filterArea" class="col-9 collapse">
			<div class="card card-body">
			    <form action="" method="get">
			    	{% bootstrap_form filter.form layout='horizontal' size='small' %}
			    	{% bootstrap_button "Filtern" button_type="submit" button_class="btn-primary btn-sm" %}
			    </form>
			</div>
		</div>
	</div>
</div>

{% if object_list %}
<div class="row">
	<div class="col-10">
		<div class="row">
			<div class="col-9">Meilenstein</div>
			<div class="col-2">geplanter Zeitpunkt</div>
			<div class="col-1">passiert</div>
    	</div>
    </div>
    <div class="col-2">Aktion</div>
</div>
<hr />

{% for milestone in object_list %}
<div class="row">
	<div class="col-10">
		<div class="row">
			<div class="col-9"><a href="{% url 'milestone-edit' milestone.pk %}">{{ milestone }}</a></div>
			<div class="col-2">{{ milestone.datetime_to_pass|date:"SHORT_DATE_FORMAT" }}</div>
			<div class="col-1">{{ milestone.happened|yesno:"Ja,Nein" }}</div>
    	</div>
    </div>
    <div class="col-2">
		<a class="btn btn-secondary" href="{% url 'milestone-setup' milestone.pk %}">
			<i class="fas fa-plus-square"></i>
		</a>
		<a class="btn btn-secondary" href="{% url 'milestone-finish' milestone.pk %}">
			<i class="fas fa-check-square"></i>
		</a>
		<a class="btn btn-secondary" href="{% url 'milestone-report' milestone.pk %}">
			<i class="fas fa-file-alt"></i>
		</a>
    </div>
</div>
<hr />
{% endfor %}
{% else %}
    <p>No milestone is available.</p>
{% endif %}
{%endblock content %}
