{% extends "tasksapp/milestone/layout.html" %}
{% load bootstrap4 %}

{% block item_title %}
{% if milestone.project %}
{{ milestone.project }}
{% endif %}
{{ milestone }}
{% endblock %}

{% block content %}
<h1>Confirm Delete {{ milestone }}</h1>

<form method="post" class="form">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ milestone }}"?</p>
    {% buttons %}
        {% url 'milestone-list' as back_url %}
        {% bootstrap_button "Back" button_type="link" button_class="btn-light" href=back_url %}
        {% bootstrap_button "Delete" button_type="submit" button_class="btn-danger" %}
    {% endbuttons %}
</form>
{% endblock content %}
