{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
{% endblock %}

{% block content %}
<h1>Projekt-Liste</h1>
{% if sticky_scope %}
<p>
	Sticky Scope: {{ sticky_scope }}
	<br />
	<a href="{% url 'sticky-scope-unset-all' %}?next=/tasks/project/">entfernen</a>
</p>
{% endif %}

<div id="top-button-bar">
	<div class="row">
		<div class="col">
			{% url 'project-add' as add_url %}
			{% bootstrap_button "Add" button_type="link" button_class="btn-success" href=add_url %}
		</div>
	</div>
</div>

{% if project_list %}

<div class="row">
	<div class="col-10">
		<div class="row">
			<div class="col-9">Projekt</div>
			<div class="col-3">Scope</div>
    	</div>
    </div>
    <div class="col-2">Aktion</div>
</div>
<hr />

{% for project in project_list %}
<div class="row">
	<div class="col-10">
		<div class="row">
			<div class="col-9"><a href="{% url 'project-edit' project.pk %}">{{ project }}</a></div>
			<div class="col-3">{% if project.scope is not None %}{{ project.scope }}{% endif %}</div>
    	</div>
    </div>
    <div class="col-2">
		<a class="btn btn-secondary" href="{% url 'project-edit' project.pk %}">
			<i class="fas fa-pencil-alt"></i>
		</a>
		{% if project != sticky_project %}
		<a class="btn btn-secondary" href="{% url 'sticky-project-set' project.pk %}">
			<i class="fas fa-thumbtack"></i>
		</a>
		{% else %}
		<a class="btn btn-success" href="{% url 'sticky-project-unset-all' %}">
			<i class="fas fa-thumbtack"></i>
		</a>
		{% endif %}
    </div>
</div>
<hr />
{% endfor %}
{% else %}
    <p>No project available.</p>
{% endif %}
{%endblock content %}
