{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
{% endblock %}

{% block content %}
<h1>Scope-Liste</h1>

<div id="top-button-bar">
	{% url 'scope-add' as add_url %}
	{% bootstrap_button "Add" button_type="link" button_class="btn-success" href=add_url %}
</div>

{% if scope_list %}
<div class="row">
	<div class="col-10">Scope</div>
    <div class="col-2">Aktion</div>
</div>
<hr />

{% for scope in scope_list %}
<div class="row">
	<div class="col-10">{{ scope }}</div>
	<div class="col-2">
		<a class="btn btn-secondary" href="{% url 'scope-edit' scope.pk %}">
			<i class="fas fa-pencil-alt"></i>
		</a>
		{% if scope != sticky_scope %}
		<a class="btn btn-secondary" href="{% url 'sticky-scope-set' scope.pk %}">
			<i class="fas fa-thumbtack"></i>
		</a>
		{% else %}
		<a class="btn btn-success" href="{% url 'sticky-scope-unset-all' %}">
			<i class="fas fa-thumbtack"></i>
		</a>
		{% endif %}
	</div>
</div>
<hr />
{% endfor %}

{% else %}
    <p>No scope available.</p>
{% endif %}
{%endblock content %}
