{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1>Status-Liste</h1>

{% url 'status-add' as add_url %}
{% bootstrap_button "Add" button_type="link" button_class="btn-success" href=add_url %}

{% if status_list %}
    <ul>
    {% for status in status_list %}
        <li><a href="{% url 'status-edit' status.pk %}">{{ status }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No status is available.</p>
{% endif %}
{%endblock content %}
