{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
{% if task.dependencies.count == 0 %}
<h1>Confirm Delete {{ task }}</h1>

<form method="post" class="form">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ task }}"?</p>
    {% buttons %}
        {% url 'task-list' as back_url %}
        {% bootstrap_button "Back" button_type="link" button_class="btn-light" href=back_url %}
	    {% bootstrap_button "Delete" button_type="submit" button_class="btn-danger" %}
    {% endbuttons %}
</form>
{% else %}
<h1>Delete {{ task }} not possible</h1>

<p>Deletion needs preparation. Following tasks have to be deleted first:</p>
<ul>
{% for dependency in task.dependencies.all %}
	<li><a href="{% url 'task-edit' dependency.pk %}">{{ dependency }}</a></li>
{% endfor %}
</ul>
    {% buttons %}
        {% url 'task-list' as back_url %}
        {% url 'task-delete' task.pk as reload_url %}
        {% bootstrap_button "Back" button_type="link" button_class="btn-light" href=back_url %}
	    {% bootstrap_button "Delete" button_type="link" href="" button_class="btn-danger disabled" %}
	    {% bootstrap_button "Reload" button_type="link" href=reload_url button_class="btn-primary" %}
    {% endbuttons %}
{% endif %}
{% endblock content %}
