{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
{{ form.media }}
{% endblock %}

{% block content %}
<h1>Einen neuen Blocker anlegen für: {{ dependant }}</h1>
<form method="post" class="form">
    {% csrf_token %}
    <div class="row">
    	<div class="col-11">
		    {% bootstrap_field form.name size='large' %}
    	</div>
    	<div class="col-1">
            {% bootstrap_button '<i class="far fa-save fa-2x"></i>' button_type="submit" button_class="btn-primary btn-block" %}
    	</div>
    </div>
</form>
{% endblock content %}
