{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
{{ form.media }}
{% endblock %}

{% block content %}


<form method="post" class="form">
    {% csrf_token %}
    <div class="row">
    	<div class="col-8 col-md-9 col-lg-10">
		    {% bootstrap_field form.name show_label=False size='large' %}
    	</div>
    	<div class="col-auto">
            {% bootstrap_button '<i class="far fa-save fa-2x"></i>' button_type="submit" button_class="btn-primary" %}
            {% bootstrap_button '<i class="far fa-trash-alt fa-2x"></i>' button_type="button" button_class="btn-danger" %}
    	</div>
    </div>
    <div class="row">
    	<div class="col-2">
    		{% bootstrap_field form.shared %}
    	</div>
    	<div class="col-5">
    		{% bootstrap_field form.owner %}
    	</div>
    	<div class="col-5">
    		{% bootstrap_field form.assignee %}
    	</div>
    </div>
    <div class="row">
    	<div class="col-4">
    		{% bootstrap_field form.scope %}
    		{% bootstrap_field form.project %}
    		{% bootstrap_field form.context %}
    		{% bootstrap_field form.categories %}
    		{% bootstrap_field form.goals %}
    	</div>
    	<div class="col-5">
    		{% bootstrap_field form.description %}
    	</div>
    	<div class="col-3">
    		{% bootstrap_field form.dateCreated %}
    		{% bootstrap_field form.status %}
    		{% bootstrap_field form.milestone %}
    		{% bootstrap_field form.due_date %}
    		{% bootstrap_field form.priorityPoints %}
    		{% bootstrap_field form.estimation %}
    	</div>
    </div>
    <div>Other Fields:</div>
    {% bootstrap_field form.logged %}
    {% bootstrap_field form.is_repeating %}
</form>
<div class="row">
	<div class="col-4 col-lg-5">
		<h4>Vorbedingungen</h4>
	</div>
	<div class="col-2 col-lg-1">
		{% url 'task-select-new-dependency' object.pk as add_dependency_url %}
		{% bootstrap_button '<i class="fas fa-plus"></i>' button_type="link" button_class="btn-primary btn-block" href=add_dependency_url %}
	</div>
	<div class="col-6">
		<h4>Nachfolger/Ziele</h4>
	</div>
</div>
<div class="row">
	<div class="col-6">
		{% if blocker_list %}
		    <table class="table">
		        <thead>
		            <tr>
		                <th>Priorität</th>
		                <th>Aufgabe</th>
		                <th>Status</th>
		                <th></th>
		            </tr>
		        </thead>
		        {% for blocker in blocker_list %}
		            <tr>
		                <td>{{ blocker.priority_sum }}</td>
		                <td><a href="{% url 'task-edit' blocker.pk %}">{{ blocker.name }}</a></td>
		                <td>{{ blocker.status }}</td>
		                <td>
		                	{% url 'task-remove-dependency' object.pk blocker.pk as delete_url %}
				            {% bootstrap_button '<i class="far fa-trash-alt"></i>' button_type="link" button_class="btn-danger btn-block" href=delete_url %}
		                </td>
		            </tr>
		        {% endfor %}
		    </table>
		{% else %}
		    <p>Keine</p>
		{% endif %}
	</div>
	<div class="col-6">
		{% if dependant_list %}
		    <table class="table">
		        <thead>
		            <tr>
		                <th>Priorität</th>
		                <th>Aufgabe</th>
		                <th>Status</th>
		            </tr>
		        </thead>
		        {% for dependant in dependant_list %}
		            <tr>
		                <td>{{ dependant.priority_sum }}</td>
		                <td><a href="{% url 'task-edit' dependant.pk %}">{{ dependant.name }}</a></td>
		                <td>{{ dependant.status }}</td>
		            </tr>
		        {% endfor %}
		    </table>
		{% else %}
		    <p>Keine</p>
		{% endif %}
	</div>
</div>
{% endblock content %}
