{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
{% endblock %}

{% block content %}
<h1>Aufgaben-Liste</h1>

<div id="top-button-bar">
    {% url 'task-add' as add_url %}
    {% bootstrap_button "Add" button_type="link" button_class="btn-success" href=add_url %}
</div>

{% if task_list %}
<div class="row">
	<div class="col-10">
		<div class="row">
    		<div class="col-1 d-none d-lg-block">Priorität</div>
    		<div class="col-1 d-block d-lg-none">Prio</div>
			<div class="col-7">Aufgabe</div>
			<div class="col-2">Status<br />Meilenstein</div>
    		<div class="col-2 d-none d-md-block">Restaufwand<br />Fälligkeit</div>
    		<div class="col-2 d-block d-md-none">Rest-<br />aufwand</div>
    	</div>
    </div>
    <div class="col-2">Action</div>
</div>
<hr />

{% for task in task_list %}
<div class="row">
	<div class="col-10">
		<div class="row">
			<div class="col-1">{{ task.priority_sum }}</div>
			<div class="col-7"><a href="{% url 'task-edit' task.pk %}">{{ task }}</a></div>
			<div class="col-2">{{ task.status }}</div>
			<div class="col-2">{{ task.remainingEffort }}</div>
			<div class="col-7 offset-1">
				{% for category in task.categories.all %}
					{% if not forloop.first %}<span>, </span>{% endif %}
					<span>{{ category }}</span>
				{% endfor %}
			</div>
			<div class="col-2">{% if task.milestone is not None %}{{ task.milestone }}{% endif %}</div>
			{% if task.due_date is not None %}
			<div class="col-2">
				{{ task.due_date|date:"SHORT_DATE_FORMAT" }}
			</div>
			{% endif %}
		</div>
	</div>
	<div class="col-2">
		<a class="btn btn-secondary" href="{% url 'pomodoro:index' %}?pomoTask={{ task.pk }}">
			<i class="fas fa-play"></i>
		</a>
		<a class="btn btn-secondary" href="{% url 'task-done' task.pk %}">
			<i class="fas fa-check-square"></i>
		</a>
		<a class="btn btn-secondary" href="#">
			<i class="fas fa-puzzle-piece"></i>
		</a>
	</div>
</div>
<hr />
{% endfor %}
{% else %}
    <p>No task is available.</p>
{% endif %}
{%endblock content %}
