{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extra_head %}
{% include 'includes/fontawesome.html' %}
{% endblock %}

{% block content %}
<h1>Aufgaben-Liste</h1>
{% if sticky_scope %}
<p>
	Sticky Scope: {{ sticky_scope }}
	<br />
	<a href="{% url 'sticky-scope-unset-all' %}">entfernen</a>
</p>
{% endif %}
{% if sticky_project %}
<p>
	Sticky Project: {{ sticky_project }}
	<br />
	<a href="{% url 'sticky-project-unset-all' %}">entfernen</a>
</p>
{% endif %}


<div id="top-button-bar">
	<div class="row">
		<div class="col-4 col-lg-3">
		    {% url 'task-add' as add_url %}
		    {% bootstrap_button "Add" button_type="link" button_class="btn-success" href=add_url %}
		    <button type="button" class="btn btn-default mt-2 mt-md-auto" data-toggle="collapse" data-target="#filterArea">
		    	Show Filter
		    </button>
		</div>
		<div id="filterArea" class="col-8 col-lg-9 collapse">
			<div class="card card-body">
			    <form action="" method="get">
			    	{% bootstrap_form filter.form layout='horizontal' size='small' %}
			    	{% bootstrap_button "Filtern" button_type="submit" button_class="btn-primary btn-sm" %}
			    </form>
			</div>
		</div>
	</div>
</div>

{% if object_list %}
<div class="row">
	<div class="col-9 col-md-8 col-lg-9">
		<div class="row">
    		<div class="col-1 d-none d-lg-block">Priorität</div>
    		<div class="col-1 d-block d-lg-none">Prio</div>

			<div class="col-7">Aufgabe</div>

			<div class="col-2 d-block d-lg-none">Status<br />Meilenst.</div>
			<div class="col-2 d-none d-lg-block">Status<br />Meilenstein</div>

    		<div class="col-2 d-block d-md-none">Rest-<br />aufwand</div>
    		<div class="col-2 d-none d-md-block d-lg-none">Restaufw.<br />Fälligkeit</div>
    		<div class="col-2 d-none d-lg-block">Restaufwand<br />Fälligkeit</div>
    	</div>
    </div>
    <div class="col-3 col-md-4 col-lg-3">Action</div>
</div>
<hr />

{% for task in object_list %}
<div class="row">
	<div class="col-9 col-md-8 col-lg-9">
		<div class="row">
			<div class="col-1">{{ task.priority_sum }}</div>
			<div class="col-7"><a href="{% url 'task-edit' task.pk %}">{{ task }}</a></div>
			<div class="col-2">
				{% if task.blocked %}
					<i class="fas fa-lock fa-2x"></i>
				{% else %}
					{{ task.status }}
				{% endif %}
			</div>
			<div class="col-2">{{ task.remainingEffort }}</div>
			<div class="col-7 offset-1">
				{% for category in task.categories.all %}
					{% if not forloop.first %}<span>, </span>{% endif %}
					<span>{{ category }}</span>
				{% endfor %}
			</div>
			<div class="col-2">{% if task.milestone is not None %}{{ task.milestone }}{% endif %}</div>
			{% if task.due_date is not None %}
			<div class="col-2 d-none d-md-block">
				{{ task.due_date|date:"SHORT_DATE_FORMAT" }}
			</div>
			{% endif %}
		</div>
	</div>
	<div class="col-3 col-md-4 col-lg-3">
		<a class="btn btn-secondary" href="{% url 'pomodoro:index' %}?pomoTask={{ task.pk }}">
			<i class="fas fa-play"></i>
		</a>
		<a class="btn btn-secondary" href="{% url 'task-done' task.pk %}">
			<i class="fas fa-check-square"></i>
		</a>
		<a class="btn btn-secondary mt-2 mt-md-auto" href="{% url 'task-split' task.pk %}">
			<i class="fas fa-puzzle-piece"></i>
		</a>
		{% if not forloop.first %}
		<a class="btn btn-secondary mt-2 mt-md-auto" href="{% url 'task-prio-up' task.pk %}?next={{ request.get_full_path | urlencode }}">
			<i class="fas fa-angle-double-up"></i>
		</a>
		{% endif %}
	</div>
</div>
<hr />
{% endfor %}
{% else %}
    <p>No task is available.</p>
{% endif %}
{%endblock content %}
