{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<h1>{{ user }}</h1>

<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="row">
        <div class="col-sm">
            {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
        </div>
    </div>
</form>
{% endblock content %}
